/* HTML Tags */

body {
	background-color: #3F3D38;
	padding-top: 100px;
	background-image: url('images/background.png');
}
a { color: #D84C47; }
a:hover { color: #D84C47;}
h3 { color: #E0E0E0; }

/* Classes */
.main {
	min-width: 810px;
	margin-top: 20px;
	background-color: #747166;
	background-image: url('images/hero.png');
	-webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.5);
	min-height: 450px;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
}
.nobg {	background-image: none; }
.buttonNav { padding-top: 25px; }

/* Small Elements */
.title { padding: 70px 50px; }
.title p { width: 50%; padding: 20px 0px 10px; }
.title h1 { font-size: 50px; text-shadow: 2px 2px 20px #000000; }
.twitter-icon { background-image: url('assets/img/icon-twitter.png'); width: 18px; height: 20px; margin-right: 8px; }
.sub { padding: 20px; padding-top: 25px; }
.spacer { height: 50px; }

/* Personal Hacks */
.center { text-align: center; }
.hide { display: none; 	}
.left { float: left; }
.right { float : right; }